.page-persionalC{
	min-height: calc(100vh + 1px);
	.banner {
		height: 400rpx;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		// background-attachment: fixed;
		background-color: rgba(0, 0, 0, 0.2);
		background-blend-mode: multiply;
		position: relative;
		.infoBox{
			width:688rpx;
			background:$themeColor;
			padding: 48rpx 40rpx;
			box-sizing: border-box;
			border-radius:8rpx;
			position: absolute;
			left: calc(50% - 344rpx);
			top: 320rpx;
			.header{
				width: 140rpx;
				height: 140rpx;
				position: absolute;
				left: 507rpx;
				top: -26.5px;
				border: 2rpx solid #fff;
			}
			.name{
				min-height: 80rpx;
				width: 400rpx;
				font-weight:800;
				padding-bottom: 30rpx;
			}
			.numberBox{
				>view{
					padding-right: 66rpx;
					color: rgba(255,255,255,0.7);
					>text{
						color: #fff;
						padding-right: 10rpx;
					}
				}
			}
			.autograph{
				color: rgba(255,255,255,0.5);
				padding: 40rpx 0;
			}
			.myBtnBox{
				>view{
					width:126rpx;
					height:56rpx;
					background-color: #7364BD;
					border-radius:28rpx;
				}
			}
		}
		.header{
			width:188rpx;
			height:188rpx;
			border: 2rpx solid #fff;
			position: absolute;
			left: 30rpx;
			bottom: -60rpx;
		}
		.btnBox{
			position: absolute;
			width: 472rpx;
			height: 64rpx;
			right: 30rpx;
			bottom: 20rpx;
			>view{
				background:rgba(0,0,0,0.3);
				border-radius:8rpx;
			}
			.gz{
				width: 49%;
				height: 100%;
			}
			.sx{
				width: 49%;
				height: 100%;
			}
		}
	}
	.info{
		padding: 100rpx 30rpx 72rpx 30rpx;
		.bold{
			padding-bottom: 20rpx;
		}
	}
	.myNum{
		padding: 0 30rpx;
		padding-bottom: 50rpx;
		border-bottom: 2rpx solid rgba(255,255,255,0.06);
		>view{
			padding-right: 60rpx;
		}
	}
	.tabBox{
		// position: sticky;
		// top: 0;
		// left: 0;
		// background-color: $themeColor;
		border-top: 2rpx solid rgba(255,255,255,0.06);
		color: rgba(255,255,255,0.6);
		>view{
			width: 220rpx;
			padding-top: 47rpx;
			padding-bottom: 20rpx;
			border-bottom: 4rpx solid transparent;
			text-align: center;
		}
		.active{
			font-size:34rpx;
			color: #fff;
			border-bottom: 4rpx solid #7364BD;
		}
	}
	.list-zp{
		align-items: flex-start;
		flex-wrap: wrap;
		.item{
			overflow: hidden;
			background:rgba(115,99,189,0.1);
			width:249rpx;
			// height:492rpx;
			margin-bottom: 2rpx;
			margin-right: 2rpx;
			&:nth-child(3n){
				margin-right: 0;
			}
			.imgBox{
				width: 100%;
				max-height: 430rpx;
				overflow: hidden;
				position: relative;
				.type{
					width: 40rpx;
					height: 40rpx;
					position: absolute;
					right: 20rpx;
					top: 20rpx;
					&.video{
						width: 24rpx;
						height: 24rpx;
					}
				}
				.poster{
					display: block;
					width: 100%;
					height: 330rpx;
				}
				.watched{
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					background-color: rgba(0,0,0,0.7);
					color: #fff;
				}
				.mask{
					position: absolute;
					height: 144rpx;
					top: unset;
					left: 0;
					bottom: 0;
					background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
					align-items: flex-end;
					padding: 10rpx;
					box-sizing: border-box;
					image{
						width: 40rpx;
						height: 40rpx;
					}
				}
			}
			.infoBox{
				width: 100%;
				// height: 162rpx;
				padding: 20rpx;
				box-sizing: border-box;
				.cont{
					overflow : hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					margin-bottom: 30rpx;
				}
				.header{
					width:40rpx;
					height:40rpx;
					margin-right: 14rpx;
				}
				.nickName{
					color: rgba(255,255,255,0.6);
				}
				.good{
					width: 30rpx;
					height: auto;
					margin-right: 11rpx;
				}
			}
		}
		.item:nth-child(3n){
			margin-right: 0;
		}
	}
	.list-zp-dynamic{
		padding: 20rpx 30rpx;
		align-items: flex-start;
		.item{
			border-radius: 8rpx;
			overflow: hidden;
			background:rgba(115,99,189,0.1);
			width:330rpx;
			// height:492rpx;
			margin-bottom: 30rpx;
			.imgBox{
				width: 100%;
				max-height: 430rpx;
				overflow: hidden;
				position: relative;
				image{
					display: block;
					width: 100%;
					height: 300rpx;
				}
				.mask{
					position: absolute;
					height: 144rpx;
					top: unset;
					left: 0;
					bottom: 0;
					background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0));
				}
			}
			.infoBox{
				width: 100%;
				// height: 162rpx;
				padding: 20rpx;
				box-sizing: border-box;
				.cont{
					overflow : hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					margin-bottom: 30rpx;
				}
				.header{
					width:40rpx;
					height:40rpx;
					margin-right: 14rpx;
				}
				.nickName{
					color: rgba(255,255,255,0.6);
				}
				.good{
					width: 30rpx;
					height: auto;
					margin-right: 11rpx;
				}
			}
		}
		.item:nth-child(3n){
			margin-right: 0;
		}
	}
}