/* 样式 */
.circle {
	border-radius: 50%;
}

/* 布局 */
.flex {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.align-star{
	align-items:flex-start;
}
.flex-column-between{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* 字体 */
.bold {
	font-weight: bold;
}
.fc-f{
	color: #fff;
}
.fs-20 {
	font-size: 20rpx;
}
.fs-22 {
	font-size: 22rpx;
}
.fs-24 {
	font-size: 24rpx;
}
.fs-26 {
	font-size: 26rpx;
}

.fs-28 {
	font-size: 28rpx;
}
.fs-30 {
	font-size: 30rpx;
}
.fs-32 {
	font-size: 32rpx;
}

/* 分享 */
button.share {
	padding: 0;
	margin: 0;
	background: transparent;
	color: inherit;
	font-size: inherit;
	line-height: initial;
}

button.share::after {
	border: none;
}
