/* 样式 */

.btn-big {
	width: 690rpx;
	margin: 0 auto;
	height: 80rpx;
	border-radius: 40rpx;
	background-color: #7364BD;
}

.dark-bg {
	min-height: 100vh;
	background-color: #1f1d2b;
	color: #fff;
}

.circle {
	border-radius: 50%;
}

.mask {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

/* 布局 */
.flex {
	display: flex;
	align-items: center;
}

.flex-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.align-star {
	align-items: flex-start;
}

.flex-column-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/* 字体 */
.bold {
	font-weight: bold;
}
.fc-a {
	color: #aaa;
}
.fc-f {
	color: #fff;
}

.fc-d {
	color: #ddd;
}

.fc-9 {
	color: #999;
}

.fc-6{
	color: #666;
}

.fc-3 {
	color: #333;
}

.fs-18 {
	font-size: 18rpx;
}

.fs-20 {
	font-size: 20rpx;
}

.fs-22 {
	font-size: 22rpx;
}

.fs-24 {
	font-size: 24rpx;
}

.fs-26 {
	font-size: 26rpx;
}

.fs-28 {
	font-size: 28rpx;
}

.fs-30 {
	font-size: 30rpx;
}

.fs-32 {
	font-size: 32rpx;
}

.fs-36 {
	font-size: 36rpx;
}

.fs-40 {
	font-size: 40rpx;
}

.fs-46 {
	font-size: 46rpx;
}

/* 分享 */
button.share {
	padding: 0;
	margin: 0;
	background: transparent;
	color: inherit;
	font-size: inherit;
	line-height: initial;
}

button.share::after {
	border: none;
}
