.topTab {
	width: 100%;
	background-color: $themeColor;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	.tabs {
		width: 192rpx;
		color: #908e99;
		> view {
			position: relative;
		}
		.line {
			width: 22rpx;
			height: 4rpx;
			background: #fff;
			border-radius: 2rpx;
			position: absolute;
			left: calc(50% - 11rpx);
			bottom: -15rpx;
		}
		.active {
			color: #fff;
		}
	}
	.search {
		width: 40rpx;
		height: 40rpx;
		position: absolute;
		left: 30rpx;
		top: calc(50% - 20rpx);
	}
}
.page-home {
	height: 100%;
	overflow: hidden;
}