.page-circle {
	.topInfoBox {
		width: 100%;
		height: 400rpx;
		position: relative;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
		background-attachment: fixed;
		background-color: rgba(0, 0, 0, 0.2);
		background-blend-mode: multiply;
		.info {
			box-sizing: border-box;
			padding-left: 70rpx;
			padding-right: 35rpx;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 51rpx;
			.info-left {
				height: 140rpx;
				.user {
					height: 100%;
					.header {
						width: 88rpx;
						height: 88rpx;
						border: 2rpx solid #fff;
					}
				}
				.nameBox {
					box-sizing: border-box;
					padding: 6rpx 0;
					height: 100%;
					padding-left: 21rpx;
				}
			}
			.join {
				width: 90rpx;
				height: 36rpx;
				background: #7364bd;
				border-radius: 18rpx;
				color: #fff;
			}
			.outCircle {
				background-color: #dddddd;
				color: #7364bd;
			}
			.share {
				text-align: center;
				image {
					width: 34rpx;
					height: 34rpx;
				}
			}
		}
	}
	.noQx{
		padding-top: 110rpx;
		color: #797780;
		text-align: center;
		.picBox{
			width:170rpx;
			height:170rpx;
			margin: 0 auto;
			background:rgba(255,255,255,0.06);
			border-radius:50%;
			margin-bottom: 60rpx;
			image{
				width: 46rpx;
				height: auto;
			}
		}
		.erCodeBox{
			color: #000;
			position: fixed;
			z-index: 1;
			left: calc(50% - 302rpx);
			top: calc(50% - 203rpx);
			width:604rpx;
			height:406rpx;
			background:rgba(255,255,255,1);
			border-radius:8rpx;
			text-align: center;
			.title{
				padding: 50rpx 0;
			}
			.iptBox{
				margin: 0 auto;
				width: 416rpx;
				height: 67rpx;
				border-radius:34rpx;
				background-color: #eee;
				overflow: hidden;
				.left{
					width: 100%;
				}
				.right{
					width: 126rpx;
					height: 100%;
					background-color: #7364BD;
				}
			}
			.tip{
				padding-top: 25rpx;
				color: #aaa;
			}
			.btnBox{
				view{
					width: 50%;
					padding: 36rpx 0;
					color: #666;
				}
				view:first-child{
					border-right: 2rpx solid rgba(0,0,0,0.1);
					color: #aaa;
				}
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				border-top: 2rpx solid rgba(0,0,0,0.1);
			}
		}
	}
	.topBox{
		padding: 0 50rpx;
		padding-top: 30rpx;
		.item{
			padding-bottom: 30rpx;
			.tag{
				width:80rpx;
				height:36rpx;
				background:rgba(255,255,255,0.2);
				border-radius:18rpx;
				margin-right: 24rpx;
			}
			.info{
				width: 554rpx;
				overflow: hidden;
				text-overflow:ellipsis;
				white-space: nowrap;
				color:rgba(255,255,255,0.6);
			}
		}
		.item:last-child{
			padding-bottom: 0;
		}
	}
	.sendDynamic {
		width: 90rpx;
		height: 90rpx;
		position: fixed;
		right: 30rpx;
		bottom: 80rpx;
	}
}
