.page-circleInfo {
	.banner {
		height: 400rpx;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: contain;
		background-attachment: fixed;
		background-color: rgba(0, 0, 0, 0.2);
		background-blend-mode: multiply;
		position: relative;
		.tsBox {
			position: absolute;
			right: 32rpx;
			top: 174rpx;
			text-align: center;
			.ts {
				width: 60rpx;
				height: auto;
			}
		}
	}
	.personInfo {
		width: 400rpx;
		margin: 0 auto;
		text-align: center;
		position: relative;
		top: -60rpx;
		.header {
			width: 120rpx;
			height: 120rpx;
			border: 2rpx solid #fff;
		}
		.bold {
			padding-top: 12rpx;
			padding-bottom: 8rpx;
		}
		.fs-24 {
			width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.list {
		padding: 0 30rpx;
		.item {
			padding: 54rpx 0;
			border-bottom: 2rpx solid $ornamentColor;
			.left {
				image {
					width: 40rpx;
					height: 40rpx;
					margin-right: 24rpx;
				}
			}
			.right {
				.header {
					width: 48rpx;
					height: 48rpx;
				}
				.fc-d{
					margin: 0 20rpx;
				}
				.right-icon {
					width: 16rpx;
					height: auto;
				}
				.headerBox{
					padding-right: 28rpx;
					.header{
						margin-left: -12rpx;
					}
				}
			}
		}
	}
	.guifan{
		padding: 50rpx 30rpx;
		color: #7364BD;
	}
	.complaint{
		z-index: 1;
		color: #000;
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 320px;
		background-color: #fff;
		border-radius:8rpx 8rpx 0px 0px;
		padding: 60rpx 50rpx;
		box-sizing: border-box;
		.title{
			text-align: center;
			position: relative;
			image{
				width: 27rpx;
				height: 27rpx;
				position: absolute;
				right: 0;
				top: calc(50% - 18.5rpx);
			}
		}
		.textarea{
			width: 100%;
			height: 334rpx;
			background-color: rgba(0,0,0,0.1);
			border-radius:8rpx;
			margin: 36rpx 0;
			padding: 30rpx;
			box-sizing: border-box;
		}
		.btn{
			height: 90rpx;
			background-color: #7364BD;
			border-radius:8rpx;
		}
	}
	.erCodeBox{
		color: #000;
		position: fixed;
		z-index: 1;
		left: calc(50% - 302rpx);
		top: calc(50% - 203rpx);
		width:604rpx;
		height:406rpx;
		background:rgba(255,255,255,1);
		border-radius:8rpx;
		text-align: center;
		.title{
			padding: 50rpx 0;
		}
		.iptBox{
			margin: 0 auto;
			width: 416rpx;
			height: 67rpx;
			border-radius:34rpx;
			background-color: #eee;
			overflow: hidden;
			.left{
				width: 100%;
			}
			.right{
				width: 126rpx;
				height: 100%;
				background-color: #7364BD;
			}
		}
		.tip{
			padding-top: 25rpx;
			color: #aaa;
		}
		.btnBox{
			view{
				width: 50%;
				padding: 36rpx 0;
				color: #666;
			}
			view:first-child{
				border-right: 2rpx solid rgba(0,0,0,0.1);
				color: #aaa;
			}
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			border-top: 2rpx solid rgba(0,0,0,0.1);
		}
	}
}
