.page-dynamic{
	background-color: $themeColor;
	padding: 0 30rpx;
	.list{
		.item{
			padding: 40rpx 0;
			border-bottom: 2rpx solid $ornamentColor;
			.header{
				image{
					width: 60rpx;
					height: 60rpx;
				}
				.fs-28{
					padding: 0 20rpx;
				}
				.fs-26{
					color: #aaa;
				}
			}
			.content{
				padding: 26rpx 0 30rpx 0;
				line-height:40rpx;
			}
			.mediaBox{
				video{
					width:372rpx;
					height:596rpx;
				}
				>view{
					display: flex;
					flex-wrap: wrap;
					image{
						display: block;
						border-radius:8rpx;
						margin-right: 10rpx;
					}
				}
				.one{
					image{
						width:372rpx;
						height:596rpx;
					}
				}
				.two{
					image{
						width:340rpx;
						height:340rpx;
					}
					image:last-child{
						margin: 0;
					}
				}
				.more{
					image{
						width:222rpx;
						height:222rpx;
						margin-bottom: 10rpx;
					}
					image:nth-child(3n){
						margin: 0;
					}
				}
			}
			.bottom{
				padding-top: 30rpx;
				.circleName{
					width:178rpx;
					height:56rpx;
					background:$ornamentColor;
					border-radius:12rpx;
				}
				.header{
					width: 40rpx;
					height: 40rpx;
					margin-right: 11rpx;
				}
				.function{
					.flex{
						margin-left: 49rpx;
					}
					image{
						width: 32rpx;
						height: auto;
						margin-right: 12rpx;
					}
				}
				.more{
					width: 32rpx;
				}
			}
		}
		.item:last-child{
			border: none;
		}
	}
}